<!-- Navbar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark py-2 fixed-top">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}"
            ><span class="text-primary">INICIO</span></a
          >
        </li>

        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user_interactions' %}"
            >MiActividad</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'posteo_estadisticas' %}">Ranking</a>
        </li>

        {% if request.user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'nuevo_posteo' %}">NuevoPosteo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'lista_posteos' %}"
            >EliminarPosteo</a
          >
        </li>
        {% endif %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'editar_perfil' %}">Otros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'acerca_de_mi' %}">Creditos</a>
        </li>
        {% endif %}

        <div class="container"></div>
        <div class="container"></div>
        <div class="container"></div>
        <div class="container"></div>
        <div class="container"></div>
        <div class="container"></div>
        <div class="container"></div>
        <div class="container"></div>

        {% if request.user.is_authenticated %}
        <div class="container">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'editar_perfil' %}"
              ><span class="text-primary"
                >{{ request.user.username }}</span
              ></a
            >
          </li>
        </div>
        <div class="container">
          <li class="nav-item">
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary text-center">
                Logout
              </button>
            </form>
          </li>
        </div>
        {% else %}
        <div class="container">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}"
              ><span class="text-primary">Acceso</span></a
            >
          </li>
        </div>
        <div class="container">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'registro' %}"
              ><span class="text-primary">Registro</span></a
            >
          </li>
        </div>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
