{% extends 'home.html' %} {% load static %} {% block content %}

<br />
<br />

<div class="container mt-5">
  <h1>Mi actividad</h1>
  <br />
  <table class="table">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Mi voto</th>
      </tr>
    </thead>
    <tbody>
      {% for favorito in favoritos %}
      <tr>
        <td>{{ favorito.posteo.title }}</td>
        <td>{{ favorito.get_interaction_display }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<br />
<br />
<br />
<br />

{% endblock %}
